<div id="home" class="header-hero bg_cover ">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="header-hero-content text-center">
                    <h2 class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Choose a Plan
                    </h2><br>
                    <p>Our Credential platform is the most pocket-friendly platform in the global market. <br> Not happy
                        with our product.
                        We have a no-questions-asked 100% money-back guarantee scheme within 5 days of your purchase.
                    </p><br>






                </div> <!-- header hero content -->
            </div>
        </div> <!-- row -->
        <div class="row justify-content-center custom-css1">
            <style>
            @media (min-width:480px) {
                .custom-css1 {
                  margin: 60px;
                  
                }
             }
</style>
            <div class="col-lg-3 col-md-6 col-sm-8 ">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <div class="services-icon">
                        <img class="shape" src="/assets/images/services-shape.svg" alt="shape">
                        <img class="shape-1" src="/assets/images/services-shape-3.svg" alt="shape">
                        <i class="lni lni-offer"></i>

                    </div>
                    <div class="services-content mt-30">
                    <h4 class="services-title"><a href="#"> Starter $25</a></h4>
                    
                        <p style="font-size: small;"> Rs 1850 </p>
                        <p style="font-size: x-small;"> /Per Month </p>
                    
                        <a target="_blank" href="https://my.certifyme.online/auth/register/25$@certifyme.online"
                            class="btn btn-primary "> Start Awarding for free </a>
                    
                        
                        <ul class="pricing-features">
                            <li class="pricing-features-item"><strong>100</strong> Credentials/month </li>
                            <li class="pricing-features-item">Analytics </li>
                            <li class="pricing-features-item">Bulk Upload </li>
                            <li class="pricing-features-item">Verifiable QR-code </li>
                            <li class="pricing-features-item">Canva Integration </li>
                            <li class="pricing-features-item"> Unlimited Templates</li>
                            <li class="pricing-features-item"> 1 admin account</li>
                            <li class="pricing-features-item">Branding space with CTA</li>
                            <li class="pricing-features-item">Smart ID Tagging</li>
                            
                            




                        </ul>
                        


                    </div>
                </div> <!-- single services -->
            </div>

            <div class="col-lg-3 col-md-6 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <div class="services-icon">
                        <img class="shape" src="/assets/images/services-shape.svg" alt="shape">
                        <img class="shape-1" src="/assets/images/services-shape-2.svg" alt="shape">
                        <i class="lni lni-revenue"></i>
                    </div>
                    <div class="services-content mt-30">
                        <h4 class="services-title"><a href="#"> Premium $50</a></h4>
                       
                        <p style="font-size: small;"> Rs 3700 </p>
                        <p style="font-size: x-small;"> /Per Month </p>
                     
                        <a target="_blank" href="https://buy.stripe.com/3csbLk2uAamRd6EbIJ" class="btn btn-primary ">
                            Start Your 30 days Free Trial </a>
                       
                        <ul class="pricing-features">
                            <li class="pricing-features-item"><strong>200</strong> Credentials/month </li>
                            <li class="pricing-features-item">All Starter plan features</li>
                           
                            <li class="pricing-features-item">SSL certificate</li>
                            <li class="pricing-features-item">SSL based verification</li>
                            <li class="pricing-features-item">Logo on Navigation Bar</li>
                            <li class="pricing-features-item">API/Integrations </li>
                            <li class="pricing-features-item"> CName (Domain) White-labeling</li>
                            
                        


                        </ul>
                        
                    </div>
                </div> <!-- single services -->
            </div>

            <div class="col-lg-3 col-md-6 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <div class="services-icon">
                        <img class="shape" src="/assets/images/services-shape.svg" alt="shape">
                        <img class="shape-1" src="/assets/images/services-shape-2.svg" alt="shape">
                        <i class="lni lni-diamond"></i>
                    </div>
                    <div class="services-content mt-30">
                        <h4 class="services-title"><a href="#"> VIP $150</a></h4>
                       
                        <p style="font-size: small;"> Rs 11100 </p>
                        <p style="font-size: x-small;"> /Per Month </p>
                       
                        <a target="_blank" href="https://buy.stripe.com/aEU7v47OU8eJfeM28a" class="btn btn-primary ">
                            Start Your 30 days Free Trial</a>
                        <ul class="pricing-features">
                            <li class="pricing-features-item"><strong>600</strong> Credentials/month</li>
                            <li class="pricing-features-item">All Premium plan features</li>
                            <li class="pricing-features-item"> 2 admin accounts</li>                        
                            <li class="pricing-features-item"> Email ID White-labeling</li>
                         
                            <li class="pricing-features-item"> Email Template customization</li>
                            <li class="pricing-features-item"> Footer White-labeling</li>
                            <li class="pricing-features-item">High Definition </li>


                            


                        </ul>
                        
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    
                        
                    <div class="services-icon">
                        <img class="shape" src="/assets/images/services-shape.svg" alt="shape">
                        <img class="shape-1" src="/assets/images/services-shape-3.svg" alt="shape">
                        <i class="lni lni-crown"></i>
                    </div>
                    <div class="services-content mt-30">
                        <h4 class="services-title"><a href="#"> Enterprise Plans</a></h4>
                       
                        <p style="font-size: small;"> $250+ onward </p>
                        <p style="font-size: x-small;"> /Per Month </p>
                       
                        <a target="_blank" href="https://share.hsforms.com/1-uuvSk4QQZSKacXGM-jP2w5gjjo"
                        class="btn btn-primary "> Schedule an Demo   </a>
                        <ul class="pricing-features">
                            <li class="pricing-features-item"> <p>Our Enterprise solutions are for large and medium enterprises who are looking for a highly tailored, customized credential platform. The enterprise solutions are hosted on dedicated servers and database clusters only to cater to only your needs. We provide fully managed on-premise, cloud, and hybrid options with Blockchain enabled solutions that work for your enterprise needs.</p>
                            </li>




                        </ul>
                        

                  
                    
                </div> <!-- single services -->
            </div>
        </div>
    </div>






</div> <!-- row -->
</div> <!-- container -->



</div> <!-- header hero -->


<!--====== SERVICES PART ENDS ======-->
