
<div class="backgroundPricing" id="pricingForm">

  <div class="container">

    <div class="panel pricing-table">
      
      


 
      <div class="pricing-plan col-lg-6 col-md-6 text-center">
        <!-- <img src="https://s28.postimg.cc/ju5bnc3x9/plane.png" alt="" class="pricing-img"> -->
        <h3 class="pricing-header">Lite</h3>
        <ul class="pricing-features">
          <li class="pricing-features-item">1 Credentials</li>
          <li class="pricing-features-item">advertisement Space with CTA button </li>
          <li class="pricing-features-item">personalized credential graphics  </li>
          <li class="pricing-features-item">Verifiable QR code  </li>
            <li class="pricing-features-item">email-based verification </li>
          <li class="pricing-features-item"><del>Personal Account Manager </del> </li> 
          <li class="pricing-features-item"><del>API integration </del>  </li>
          
        
          
          
          
          <li class="pricing-features-item">1$ / credential for 5 year</li>
       
          
          
        </ul>

        <span class="pricing-price">$1 </span>
        
        <a target="_blank" href="https://my.certifyme.online/auth/register" class="btn btn-primary ">Sign Up</a>
      </div>

      



     
      
      <div class="pricing-plan col-lg-6 col-md-6 text-center">
        <!-- <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png" alt="" class="pricing-img"> -->
        <h3 class="pricing-header">Pro    </h3>
        <ul class="pricing-features">
          <li class="pricing-features-item">1000 Credentials</li>
          
          <li class="pricing-features-item">advertisement Space with CTA button </li>
          <li class="pricing-features-item">personalized credential graphics </li>
               <li class="pricing-features-item">Verifiable QR code  </li>
            <li class="pricing-features-item">email-based verification </li>
          <li class="pricing-features-item">Personal Account Manager  </li> 
           <li class="pricing-features-item">API integration   </li>
          <li class="pricing-features-item">0.50$ / credential for 5 year</li>
       
          
          
          
        </ul>
        <span class="pricing-price">$500</span>
        <a target="_blank" href="https://my.certifyme.online/auth/register" class="btn btn-primary ">Sign Up</a>

      </div>

      <div class="pricing-plan col-lg-6 col-md-6 text-center">
        <!-- <img src="https://s28.postimg.cc/ju5bnc3x9/plane.png" alt="" class="pricing-img"> -->
        <h3 class="pricing-header">King</h3>
        <ul class="pricing-features">
          <li class="pricing-features-item">Unlimited Credentials </li>
          <li class="pricing-features-item">All Features of Pro </li>
          <li class="pricing-features-item">White labeling- Logo,Domain & SMTP </li>
               <li class="pricing-features-item">Customizable credentials pages  </li>
            <li class="pricing-features-item">  Tech Ops support  </li>
          <li class="pricing-features-item">High Availability & Security  </li> 
           <li class="pricing-features-item">Dedicated Server's  </li>
          
          
          
          <li class="pricing-features-item"> Starting from 50$ / month</li>
       
          
          
        </ul>

        <span class="pricing-price">$50 </span>
        
        <a target="_blank" href="https://certifyme-2.hubspotpagebuilder.com/help" class="btn btn-primary ">Express Interest</a>
      </div>

    
    </div>
    <h6>* 
      All credentials will be accessible for 60 months from the date of issue. In any extraordinary cases, if the credential needs to make available beyond 60 months, a special request has to be sent to renew@certifyme.online. We will be charging a nominal amount of 0.25$(USD)  per Credential/year for renewals. <h6>
  </div>
  
</div>
<!--
    <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Signup me up for a free trial </h2>
              <hr class="primary">
              <iframe frameborder="0" style="height:500px;width:99%;border:none;" src='https://forms.zohopublic.in/rtharayil/form/BasicSignup/formperma/Ry5aZP7HXqeD8T-XqUp_mWJ37Nx6RtzO5HEA-8oEMiQ'></iframe>
          </div>
      </div>
  </div> -->
  

</div>
