<div id="home" class="header-hero bg_cover" style="background-image: url(assets/images/banner-bg.svg)">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="header-hero-content text-center">
                    <h2 class="header-sub-title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Pricing
                    </h2><br>






                </div> <!-- header hero content -->
            </div>
        </div> <!-- row -->
        <div class="row justify-content-center">
        <div class="col-lg-4 col-md-7 col-sm-8">
            <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                <div class="services-icon">
                    <img class="shape" src="assets/images/services-shape.svg" alt="shape">
                    <img class="shape-1" src="assets/images/services-shape-1.svg" alt="shape">
                    <i class="lni lni-heart"></i>
                </div>
                <div class="services-content mt-30">
                    <h4 class="services-title"><a href="#"> I want to try</a></h4>
                    <ul class="pricing-features">
                        <li class="pricing-features-item">500 Ordinary Credentials are Free </li>

                        <li class="pricing-features-item">No credit card needed</li>
                        <li class="pricing-features-item"><del>Get Your logo on the Navigation Bar with back links</del></li>
                            <li class="pricing-features-item">Bulk upload feature</li>
                            <li class="pricing-features-item"><del>API access , Zapier automation etc</del></li>
                            <li class="pricing-features-item">Analytics</li>





                    </ul>
                    <span class="pricing-price">$0.00</span>
                    <a target="_blank" href="https://my.certifyme.online/auth/register"
                        class="btn btn-primary ">Sign Up</a>

                </div>
            </div> <!-- single services -->
        </div>
        <div class="col-lg-4 col-md-7 col-sm-8">
            <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                <div class="services-icon">
                    <img class="shape" src="assets/images/services-shape.svg" alt="shape">
                    <img class="shape-1" src="assets/images/services-shape-3.svg" alt="shape">
                    <i class="lni lni-offer"></i>
                 
                </div>
                <div class="services-content mt-30">
                    <h4 class="services-title"><a href="#"> I want a Lot</a></h4>
                    <ul class="pricing-features">
                        <li class="pricing-features-item">10000 Ordinary Credentials / Year </li>

                        <li class="pricing-features-item">0.01$ /Credential</li>
                        <li class="pricing-features-item">Get Your logo on the Navigation Bar with back links</li>
                            <li class="pricing-features-item">Bulk upload feature</li>
                            <li class="pricing-features-item">API access , Zapier automation etc</li>
                            <li class="pricing-features-item">Analytics</li>
                            




                    </ul>
                    <span class="pricing-price">$10/Month</span>
                    <a target="_blank" href="https://my.certifyme.online/auth/register/10$@certifyme.online"
                    class="btn btn-primary "> Try for Free </a>


                </div>
            </div> <!-- single services -->
        </div>

        <div class="col-lg-4 col-md-7 col-sm-8">
            <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                <div class="services-icon">
                    <img class="shape" src="assets/images/services-shape.svg" alt="shape">
                    <img class="shape-1" src="assets/images/services-shape-3.svg" alt="shape">
                    <i class="lni lni-revenue"></i>
                </div>
                <div class="services-content mt-30">
                    <h4 class="services-title"><a href="#"> I want More</a></h4>
                    <ul class="pricing-features">
                        <li class="pricing-features-item">Unlimited Ordinary Credentials / Year </li>

                        <li class="pricing-features-item">~0.000000001$ /Credential</li>
                        <li class="pricing-features-item">Get Your logo on the Navigation Bar with back links</li>
                            <li class="pricing-features-item">Bulk upload feature</li>
                            <li class="pricing-features-item">API access , Zapier automation etc</li>
                            <li class="pricing-features-item">Analytics</li>





                    </ul>
                    <span class="pricing-price">$25/Month</span>
                    <a target="_blank" href="https://my.certifyme.online/auth/register/25$@certifyme.online"
                        class="btn btn-primary "> Try for Free </a>
                </div>
            </div> <!-- single services -->
        </div>
    </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="header-hero-content text-center">
                    <h2 class="header-sub-title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Our Entreprise White-labeled Solutions
                    </h2><br>






                </div> <!-- header hero content -->
            </div>
        </div> <!-- row -->


        

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <div class="services-icon">
                        <img class="shape" src="assets/images/services-shape.svg" alt="shape">
                        <img class="shape-1" src="assets/images/services-shape-3.svg" alt="shape">
                        <i class="lni-bi-cycle"></i>
                    </div>
                    <div class="services-content mt-30">
                        <h4 class="services-title"><a href="#"> $50.00</a></h4>
                        <ul class="pricing-features">
                            <li class="pricing-features-item">2,000 White-labeled Credentials / Year </li>
                            <li class="pricing-features-item"> Unlimited Ordinary Credentials / Year </li>
                            <li class="pricing-features-item">Get Your logo on the Navigation Bar with back links</li>
                            <li class="pricing-features-item">Bulk upload feature</li>
                            <li class="pricing-features-item">API access , Zapier automation etc</li>
                            <li class="pricing-features-item">Analytics</li>
                            <li class="pricing-features-item">Get your URL for credentials / Domain white labeling</li>
                            <li class="pricing-features-item"><del>Email template customization to include your own
                                    custom messages / logo</del></li>
                            <li class="pricing-features-item"><del>SMTP whitellableing and email id customization</del>
                            </li>
                            <li class="pricing-features-item"><del>Dedicated Server & Dedicated Database</del></li>


                            <li class="pricing-features-item"><del>Header and footer customization</del> </li>
                            <li class="pricing-features-item"><del>Credential page customization </del> </li>
                            <li class="pricing-features-item"><del>Dedicated database server</del></li>
                            <li class="pricing-features-item">2 Admin Account</li>
                            <li class="pricing-features-item">cost per White-labeled Credential is 0.3$</li>

                        </ul>
                        <span class="pricing-price">$50.00/Month</span>
                        <a target="_blank" href="https://calendly.com/rtharayil/15min" class="btn btn-primary ">Express
                            Interest</a>

                    </div>
                </div> <!-- single services -->
            </div>

            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <div class="services-icon">
                        <img class="shape" src="assets/images/services-shape.svg" alt="shape">
                        <img class="shape-1" src="assets/images/services-shape-3.svg" alt="shape">
                        <i class="lni-scooter"></i>
                    </div>
                    <div class="services-content mt-30">
                        <h4 class="services-title"><a href="#"> $150.00</a></h4>
                        <ul class="pricing-features">
                            <li class="pricing-features-item">10,000 White-labeled Credentials / Year </li>
                            <li class="pricing-features-item"> Unlimited Ordinary Credentials / Year </li>

                            <li class="pricing-features-item">Get Your logo on the Navigation Bar with back links</li>
                            <li class="pricing-features-item">Bulk upload feature</li>
                            <li class="pricing-features-item">API access , Zapier automation etc</li>
                            <li class="pricing-features-item">Analytics</li>
                            <li class="pricing-features-item">Get your URL for credentials / Domain white labeling</li>
                            <li class="pricing-features-item">Email template customization to include your own custom
                                messages / logo</li>
                            <li class="pricing-features-item">SMTP whitellableing and email id customization</li>
                            <li class="pricing-features-item">Dedicated Server & Dedicated Database</li>


                            <li class="pricing-features-item"><del>Header and footer customization</del> </li>
                            <li class="pricing-features-item"><del>Credential page customization </del> </li>
                            <li class="pricing-features-item"><del>Dedicated database server</del></li>
                            <li class="pricing-features-item">4 Admin Account</li>
                            <li class="pricing-features-item">cost per White-labeled Credential is 0.2$</li>

                        </ul>
                        <span class="pricing-price">$150.00/Month</span>
                        <a target="_blank" href="https://calendly.com/rtharayil/15min" class="btn btn-primary ">Express
                            Interest</a>

                    </div>
                </div> <!-- single services -->
            </div>

            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <div class="services-icon">
                        <img class="shape" src="assets/images/services-shape.svg" alt="shape">
                        <img class="shape-1" src="assets/images/services-shape-3.svg" alt="shape">
                        <i class="lni-car"></i>
                    </div>
                    <div class="services-content mt-30">
                        <h4 class="services-title"><a href="#"> $250</a></h4>
                        <ul class="pricing-features">
                            <li class="pricing-features-item">Unlimited White-labeled Credentials / Year </li>
                            <li class="pricing-features-item"> Unlimited Ordinary Credentials / Year </li>
                            <li class="pricing-features-item">Get Your logo on the Navigation Bar with back links</li>
                            <li class="pricing-features-item">Bulk upload feature</li>
                            <li class="pricing-features-item">API access , Zapier automation etc</li>
                            <li class="pricing-features-item">Analytics</li>
                            <li class="pricing-features-item">Get your URL for credentials / Domain white labeling</li>
                            <li class="pricing-features-item">Email template customization to include your own custom
                                messages / logo</li>
                            <li class="pricing-features-item">SMTP whitellableing and email id customization</li>
                            <li class="pricing-features-item">Dedicated Server & Dedicated Database</li>


                            <li class="pricing-features-item">Header and footer customization </li>
                            <li class="pricing-features-item">Credential page customization </li>
                            <li class="pricing-features-item">Dedicated database server</li>
                            <li class="pricing-features-item">25 Admin Account</li>
                            <li class="pricing-features-item">cost per White-labeled Credential is 0.06$</li>

                        </ul>
                        <span class="pricing-price">$250.00/Month</span>
                        <a target="_blank" href="https://calendly.com/rtharayil/15min" class="btn btn-primary ">Express
                            Interest</a>

                    </div>
                </div> <!-- single services -->
            </div>


           
        </div>
    </div> <!-- row -->
</div> <!-- container -->



</div> <!-- header hero -->



<!--====== SERVICES PART ENDS ======-->