<div id="home" class="header-hero bg_cover" style="background-image: url(assets/images/banner-bg.svg)">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="header-hero-content text-center">
                    <h2 class="header-sub-title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Pricing
                    </h2><br>

                    




                </div> <!-- header hero content -->
            </div>
        </div> <!-- row -->

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="services-icon">
                        <img class="shape" src="assets/images/services-shape.svg" alt="shape">
                        <img class="shape-1" src="assets/images/services-shape-1.svg" alt="shape">
                        <i class=" lni-bi-cycle"></i>
                    </div>
                    <div class="services-content mt-30">
                        <h4 class="services-title"><a href="#"> I want to try</a></h4>
                        <ul class="pricing-features">
                            <li class="pricing-features-item">50 Credentials are Free </li>

                            <li class="pricing-features-item">After 50, 1$/Credential</li>





                        </ul>
                        <span class="pricing-price">$0.00</span>
                        <a target="_blank" href="https://my.certifyme.online/auth/register"
                            class="btn btn-primary ">Sign Up</a>

                    </div>
                </div> <!-- single services -->
            </div>
            
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <div class="services-icon">
                        <img class="shape" src="assets/images/services-shape.svg" alt="shape">
                        <img class="shape-1" src="assets/images/services-shape-3.svg" alt="shape">
                        <i class="lni-car"></i>
                    </div>
                    <div class="services-content mt-30">
                        <h4 class="services-title"><a href="#"> I want a lot</a></h4>
                        <ul class="pricing-features">
                            <li class="pricing-features-item">Pack of 100 Credentials </li>

                            <li class="pricing-features-item">0.50$ /Credential</li>





                        </ul>
                        <span class="pricing-price">$50</span>
                        <a target="_blank" href="https://my.certifyme.online/auth/register"
                            class="btn btn-primary ">Sign Up</a>

                    </div>
                </div> <!-- single services -->
            </div>
           
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <div class="services-icon">
                        
                        <img src="/assets/images/6.png" alt="about">
                    </div>
                    <div class="services-content mt-30">
                        <h4 class="services-title"><a href="#"> I want my own</a></h4>
                        <ul class="pricing-features">
                            <li class="pricing-features-item">Unlimited Credentials </li>
                            <li class="pricing-features-item"> White-label product  </li>                       
                            
                            <li class="pricing-features-item">Starting 50$ / Month</li>
                            <li class="pricing-features-item">      <a target="_blank" href="/pricing2" 
                                 >Click to View Pricing Models</a> </li>  




                        </ul>
                      
                        <a target="_blank" href="https://calendly.com/rtharayil/15min" class="btn btn-primary ">Express Interest</a>

                    </div>
                </div> <!-- single services -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->



</div> <!-- header hero -->



<!--====== SERVICES PART ENDS ======-->