<div id="home" class="header-hero bg_cover" style="background-image: url(assets/images/banner-bg.svg)">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="header-hero-content text-center">
                   
                    <h2 class="header-sub-title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">"I want my own" - Pricing Models
                    </h2><br>

                    




                </div> <!-- header hero content -->
            </div>
        </div> <!-- row -->

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="services-icon">
                        <img class="shape" src="assets/images/services-shape.svg" alt="shape">
                        <img class="shape-1" src="assets/images/services-shape-1.svg" alt="shape">
                        <i class=" lni-bi-cycle"></i>
                    </div>
                    <div class="services-content mt-30">
                        <h4 class="services-title"><a href="#"> $50 / Month</a></h4>
                        <ul class="pricing-features">
                            <li class="pricing-features-item">1500 credentials / Year </li>

                            <li class="pricing-features-item">Dedicated server </li>
                            <li class="pricing-features-item">Domain White labeling</li>
                            <li class="pricing-features-item">Dedicated DataBase (SQL lite) on Server  </li>
                            <li class="pricing-features-item">Server  4 GB RAM,2 vCPU,80GB SSD </li>
                            <li class="pricing-features-item">SMTP White labeling</li>
                            <li class="pricing-features-item">SSL Certificate </li>
                             <li class="pricing-features-item"> 1 admin user  </li>
                            <li class="pricing-features-item"> <del> Database Cluster 1 GB, 1 vCPU , 10 GB </del></li>
                       
                          
                            
                            <li class="pricing-features-item"><del> Email template customization </del> </li>
                            <li class="pricing-features-item"> Limited Email TechOps Support </li>
                            <li class="pricing-features-item"> <del>Dedicated Account Manager </del> </li>
                            <li class="pricing-features-item">  Monthly backups included </li>
                            <li class="pricing-features-item"><del>  API acess </del></li>
                            <li class="pricing-features-item"><del> Choice of Server Location , hosting on Digital Oceans / AWS</del></li>
                             





                        </ul>
                        <a target="_blank" href="https://calendly.com/rtharayil/15min" class="btn btn-primary ">Express Interest</a>
                        
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="services-icon">
                        <img class="shape" src="assets/images/services-shape.svg" alt="shape">
                        <img class="shape-1" src="assets/images/services-shape-2.svg" alt="shape">
                        <i class=" lni-scooter"></i>
                    </div>
                    <div class="services-content mt-30">
                        <h4 class="services-title"><a href="#"> $150 / Month</a></h4>
                        <ul class="pricing-features">
                            <li class="pricing-features-item">6000 credentials / year </li>

                            <li class="pricing-features-item">Dedicated server </li>
                            <li class="pricing-features-item">Domain White labeling</li>
                            <li class="pricing-features-item">Separate and Dedicated DataBase Cluster (MySQL) </li>
                            <li class="pricing-features-item">Server  8 GB RAM,4 vCPU,160GB SSD </li>
                            <li class="pricing-features-item">SMTP White labeling</li>
                            <li class="pricing-features-item">SSL Certificate </li>
                            <li class="pricing-features-item"> upto 4 admin users  </li>
                            <li class="pricing-features-item"> Database Cluster 1 GB, 1 vCPU , 10 GB </li>
                            
                            
                            
                            <li class="pricing-features-item"> Email template customization </li>
                            <li class="pricing-features-item">Email TechOps Support </li>
                            <li class="pricing-features-item"> <del>Dedicated Account Manager </del> </li>
                            <li class="pricing-features-item">  Weekly backups included </li>
                            <li class="pricing-features-item">  API acess </li>
                            <li class="pricing-features-item"><del> Choice of Server Location , hosting on Digital Oceans / AWS</del></li>

                           
                        </ul>
                         <a target="_blank" href="https://calendly.com/rtharayil/15min" class="btn btn-primary ">Express Interest</a>


                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <div class="services-icon">
                        <img class="shape" src="assets/images/services-shape.svg" alt="shape">
                        <img class="shape-1" src="assets/images/services-shape-3.svg" alt="shape">
                        <i class="lni-car"></i>
                    </div>
                    <div class="services-content mt-30">
                        <h4 class="services-title"><a href="#"> $500/ Month</a></h4>
                        <ul class="pricing-features">
                            <li class="pricing-features-item">100,000 credentials/ year </li>
                        <li class="pricing-features-item">Dedicated server </li>
                            <li class="pricing-features-item">Domain White labeling</li>
                            <li class="pricing-features-item">Separate and Dedicated DataBase Cluster (MySQL) </li>
                            <li class="pricing-features-item"><strong>4 X Server  8 GB RAM,4 vCPU,160GB SSD </strong></li>
                            <li class="pricing-features-item">SMTP White labeling</li>
                            <li class="pricing-features-item">SSL Certificate </li>
                            <li class="pricing-features-item"> upto 25 admin users  </li>
                            <li class="pricing-features-item"> <strong>Database Cluster 4 GB, 2 vCPU , 38 GB </strong></li>
                            
                            
                            
                            <li class="pricing-features-item"> Email template customization </li>
                            <li class="pricing-features-item">  24/7 TechOps Support </li>
                            <li class="pricing-features-item"> Dedicated Account Manager </li>
                            
                            <li class="pricing-features-item">  Daily backups included </li>
                            <li class="pricing-features-item"> API acess </li>
                            <li class="pricing-features-item"> Choice of Server Location , hosting on Digital Oceans / AWS</li>
                        </ul>

                            <a target="_blank" href="https://calendly.com/rtharayil/15min" class="btn btn-primary ">Express Interest</a>

                    </div>
                </div> <!-- single services -->
            </div>
           
            <div class="col-lg-5 col-md-7 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                    <div class="services-icon">
                        <img class="shape" src="assets/images/services-shape.svg" alt="shape">
                        <img class="shape-1" src="assets/images/services-shape-3.svg" alt="shape">
                        <i class="lni-heart"></i>
                    </div>
                    <div class="services-content mt-30">
                        <h4 class="services-title"><a href="#"> I want my own configration </a></h4>
                        <ul class="pricing-features">
                            <li class="pricing-features-item">100% customisability  </li>
                            <li class="pricing-features-item">Quote on Request  </li>
                                              

                            





                        </ul>
                      
                        <a target="_blank" href="https://calendly.com/rtharayil/15min" class="btn btn-primary ">Express Interest</a>

                    </div>
                </div> <!-- single services -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->



</div> <!-- header hero -->



<!--====== SERVICES PART ENDS ======-->
