<section id="certificate">
    <div class="container1" style="margin-left: 50px; margin-right: 50px">
        <div class="container ">
            <div class="row">
                <div class="col-lg-12 text-center site-verify">
                    <h2>LIVE DEMO <h2>



                            <hr class="primary">
                </div>
            </div>
        </div>

        <div class="row site-verify">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 text-center">
                <a href="https://certifyme.online//samples/MercyGeorgeIgbafe12.html">
                    <h4 class="section-heading"> Simple Badges </h4>
                    <div class="service-box1" style="vertical-align: middle;">
                        <img src="https://certifyme.online/img/cert/sample/5.png" alt="certificate"
                            style="width:100%   ">
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 text-center">
                <a href="https://certifyme.online//samples/1TestFlixSample.html">
                    <h4 class="section-heading"> Personalized Badges </h4>

                    <div class="service-box1">
                        <img src="https://certifyme.online/CSIT/theTestTribe/img/cert/TestFlix/AnandBagmar_4250c.png" alt="certificate" style="width:100% ; ">
                    </div>
                </a>

            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 text-center">
                <a href="https://certifyme.online/devopsma/VinayTHM">
                    <h4 class="section-heading"> Verifiable Certificates </h4>
                    <div class="service-box1">
                        <img src="https://certifyme.online/img/certificate/devopsma/VinayTHM.png" alt="certificate"
                            style="width:80% ; ">
                    </div>
                </a>
            </div>
            

        </div>

    </div>
</section>