<section id="about">
    <div class="container">
        <div class="row site-verify">
            <div class="col-lg-12  text-center">
                <h2 class="section-heading">{{site.USPH |capitalize}}</h2>
                <hr>
                <div class="col-lg-12  text-center">
                    <h4>CertifyMe.Online is an end-to-end solution for creating, issuing, and managing your Digital Credentials. Our <a href = 'https://my.certifyme.online/auth/register/'>Platform </a>enables you to:</h4> 
                         
                </div>
                
                <div class="col-lg-12 text-center">
                    <p>1) Issue Verifiable Digital Credentials like Digital Badges and Certificates. </p>
                    
                    <p>2) Automate your Credential issuing process.</p>
                    <p>3) Publish Digital Credentials on social media platforms. </p>
                    <p>4) Attach advertisements with call to actions to your Credential Webpages.
                    </p>
                    <p>5) Generate leads and web traffic to your programs and events. </p>
                    <p>6) Monetize the advertisement space by selling it to your sponsor.
                    </p>

                    <p>7) Maximize brand presences with participant references triggered using organic sharing. </p>
                </div>

                <h4 class="section-heading">WE ARE HERE TO HELP YOU!</h4>
                <p>Reach out to us at<a class="btn btn-default text-left "
                        href="mailto:sales@certifyme.online">sales@certifyme.online</a> or <a href=""
                        class="btn btn-default text-center "
                        onclick="Calendly.initPopupWidget({url: 'https://calendly.com/rtharayil/15min'});return false;">
                        Schedule A
                        Demo</a>
                <p>
                    
            </div>


        </div>
    </div>
</section>