<!-- Site footer -->
<footer class="site-footer" id="footer">
  <div class="container" style= "padding: 5px">
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <h6>Contact certifyme.online</h6>

     
        <p> Email us @ : info (at) certifyme.online</p>
        
      </div>


      <div class="col-xs-6 col-md-4">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="https://certifyme.online"><p>Home</p></a></li>
          <li><a href="https://certifyme.online/#about"><p>About Us</p></a></li>
          



        </ul>
      </div>

    </div>
   
  </div>
  <div class="container" style= "padding: 5px">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by QUADRALOGICS
          
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">



          <li><a class="linkedin" target="_blank" href="https://www.linkedin.com/company/certify-me-online/"><i
                class="fa fa-linkedin"></i></a></li>
          <li><a class="facebook" target="_blank" href="https://www.facebook.com/certifyme.online.ql"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a class="dribbble"  target="_blank" href="https://www.instagram.com/certifyme.online/"><i class="fa fa-instagram"></i></a>
          </li>
          <li><a class="twitter" target="_blank" href="http://twitter.com/me_certify/"><i class="fa fa-twitter"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
</footer>
