<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102775017-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-102775017-1');
    </script>

    <link rel="icon" type="image/png" href="https://certifyme.online/img/logo.png" />


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This certificate is issued to {{page.issuedTo }}">
    <meta name="author" content="certifyMe.online">
    <meta name="robots" content="index, follow">

    <meta property="og:type" content="website">
    <meta property="og:image" content="{{page.certificatePath }}">
    <meta property="og:title" content="{{page.program}}">

    <meta property="og:description" content="This certificate is issued to {{page.issuedTo }}">
    <meta property="og:url" content="https://certifyme.online/{{page.url}}">
    
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="certifyMe.online">


    <meta property="twitter:card" content="summary_large_image">
    
    <meta property="twitter:url" content="https://certifyme.online/{{page.url}}">
    <meta name="twitter:title" content="CertifyMe Online {{page.program}}">

    <!-- You have to mention a 2-4 lines description about the webpage -->
    <meta name="twitter:description" content="This certificate is issued to {{page.issuedTo }}">

    <!-- If you want you can embed a URL of a image representing the content of your webpage. This image will be displayed in the preview and will make your post look more attractive. -->
    <meta name="twitter:image" content="{{page.certificatePath}}">



    <title>{{page.program}} - This certificate is issued to {{page.issuedTo }}</title>








    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>
    <link
        href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
        rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5fd1ca63510591001bd54cb4&product=sticky-share-buttons' async='async'></script>

</head>