<section id="certificate">

    <div class=" site-verify ">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading"> Badge Credentials </h3>
                <h3>This Badge is issued to <strong>{{page.issuedTo }}</strong>
                    <h3>
                        <hr class="primary">
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text-center">
            <div class="service-box1">
                <img src="{{page.certificatePath }}" alt="certificate" style="width:100% ; margin-left: 5px; ">
            </div>
            <hr class="primary">
            <div class="text-center">
                <!-- ShareThis BEGIN -->
                <div class="sharethis-inline-share-buttons"></div><!-- ShareThis END -->

               





            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text-left ">
            <div class="service-box1 site-verify" style="padding: 10px ">

                {% if page.issuedBy != "nul" %}
                <h6>Issued By : <strong>{{page.issuedBy }}</strong> </h6>
                {% endif %}

                <h6>Organization : <strong>{{page.issuedInstitute}}</strong></h6>
                <h6>Date of issue: <strong>{{page.dateOfIssue}} </h6>
                <h6>Program : <strong>{{page.program}}</strong></h6>
                <hr class="primary">
                <div class="team-content text-left">
                    <h5>{{ page.text }}<h5>
                </div>
                <div class="team-social">
                    <div class="team-social-block text-center">
                        <h3 class="text-left"> <i class="fa fa-2x wow bounceIn fa-check" style="color: goldenrod;"
                                data-wow-delay=".1s"></i> Verified</h3>
                    </div>
                    <div>
                        <a style="padding-right: 15px;" href="{{page.certificatePath }}" download="certificate">
                            <i class="fa fa-download  " data-wow-delay=".1s" style="color: gray;"></i>
                        </a>
                        <a href="https://www.linkedin.com/profile/add?startTask=CERTIFICATION_NAME&name={{page.program | uri_escape}}&certUrl={{'https://certifyme.online'| cgi_escape}}{{page.url|| cgi_escape}}&certId="><img src="https://download.linkedin.com/desktop/add2profile/buttons/en_US.png "
                                alt="LinkedIn Add to Profile button"></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>