<section id="certificate">
    <div class="container1" style="margin-left: 50px; margin-right: 50px">
        <div class="container ">
            <div class="row">
                <div class="col-lg-12 text-center site-verify">
                    <h2>OUR PRODUCTS <h2>



                            <hr class="primary">
                </div>
            </div>
        </div>

        <div class="row site-verify">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text-center" style= "margin-bottom: 50px;">
               
                    <h4 class="section-heading"> CertifyMe.Online, A Digital Credential Platform   </h4>
                    <div class="service-box1" style="vertical-align: middle;">
                        <img src="https://certifyme.online/img/portfolio/1.png" alt="certificate"
                            style="width:50%   ">
                            <p>CertifyMe.Online is an end-to-end solution for creating, issuing, and managing your digital credentials.</p>
                                <h6><strong>Starting from $0.00 per credential</strong> </h6>
                            <a target="_blank" href="https://my.certifyme.online/auth/register" class="btn btn-primary ">Sign Up</a>
                    </div>
               
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text-center" style= "margin-bottom: 50px;">
               
                    <h4 class="section-heading">Deploy your own Digital Credential Platform </h4>

                    <div class="service-box1">
                        <img src="https://certifyme.online/img/portfolio/2.png" alt="certificate" style="width:50% ; ">
                        
                       
                    <p> Stand out , deploy your own Digital Credential Platform with your own branding using our Framework.  </p>
                        <h6><strong>Starting from $50 per month</strong> </h6>
                        <a target="_blank" href="https://certifyme-2.hubspotpagebuilder.com/help" class="btn btn-primary ">Express Interest</a>
                    </div>
                

            </div>
            
            

        </div>

    </div>
</section>
