<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Training Services</h3>
                    <p class="text-muted">Quadralogics today is one of the most trusted training providers and a premium player in the B2B DevOps market. Since inception in 2014, QuadraLogics has facilitated more than 70+ corporate and public workshops enabling more than 2000+ Practitioners</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Content Development</h3>
                    <p class="text-muted">As a DevOps training producer and content provider, we have been regularly enabling our partners with up to date & state of the art training content. Few of our global partners include Pluralsight, Udacity, KnowledgeHut, etc.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>DevOps Consulting</h3>
                    <p class="text-muted">Our dedicated team of qualified and experienced DevOps consultants will enable you to deliver high-quality product faster.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>DevOps Master Workshop</h3>
                    <p class="text-muted">“DevOps Master Workshop” series is our flagship public training and is one of the most treading training in the market</p>
                </div>
            </div>
        </div>
    </div>
</section>
