<section  id="services " style = "margin-bottom: 30px;">
    
    <div class="container1 site-verify" style = "margin-left: 30px; margin-right: 30px">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{site.ServicesHeading}}</h2>
                <hr class="primary">
            </div>
        </div>
        <a href="https://my.certifyme.online/">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user  wow bounceIn text-primary"></i>
                    <h3>{{site.Services1H}}</h3>
                    <p >{{site.Services1}}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x  fa-cogs wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>{{site.Services2H}}</h3>
                    <p >{{site.Services2}}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bullhorn wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>{{site.Services3H}}</h3>
                    <p >{{site.Services3}}</p>
                </div>
            </div>
           
        </div></a>
    </div>
</section>