<div id="home" style="background-color: rgb(238, 248, 247); padding: 10px;" >
    <div class="container" style="padding-left: 5px;  " >
        <div class="row ">
            <div class="col-lg-6 col-xs-12">
                <div class="text-left" >
                    <h1 style="color:black">Award Verifiable Credentials. </h1><br>

                    <h3> Share across <span style="color:#0072b1"> Linkedin </span> and 50+ Social Media Apps.</h3> <br>



                    <p class="header-title wow fadeInUp" style="color:black; font-size: 18;">CertifyMe helps trainers, teachers, event marketers, and HR professionals award verifiable digital Certificates and Badges with just a couple of clicks.   </p>

                    <br>

                </div> <!-- header hero content -->
                <div class="row " style="padding-top: 10px; padding-left: 5px;">
                    
                    <div class="col-xs-6 col-lg-6"><a href="https://share.hsforms.com/1-uuvSk4QQZSKacXGM-jP2w5gjjo" target="_blank" class="main-btn"
                        style=" background-color: rgb(230, 112, 112); color:ivory">Request a Demo</a></div>
                 
                </div>

                
            </div>
            

            
            <div class="col-lg-6 col-xs-12">
                
                
                
                
                
                
                
                
                <div class="header-hero-image text-center wow fadeIn" data-wow-duration="1.3s" data-wow-delay="1.4s">
                  <!--  <iframe width="560" height="315" src="https://www.youtube.com/embed/Je0_a_kLH-c?controls=0" title="Certify Explainer Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                    <img class="small" src="/assets/images/cert.png" alt="Award Verifiable Credentials" style="width: 95%;">



                </div> <!-- header hero image -->
                
                    
               <div class="text-center"> 
                    <a style="text-align: center;" target="_blank"
                      href="https://certifyme.online/samples"><img src="https://certifyme.online/img/LShare.png" style="max-width: 80px; max-height: 50px;"  alt="Share across Linkedin">  </a>
                    </div> 


                    

                   
                
            </div>
        </div> <!-- row -->
        <div class="row">

        </div> <!-- row -->
    </div> <!-- container -->

</div> <!-- header hero -->
