<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102775017-1"></script>
   <script>
       window.dataLayer = window.dataLayer || [];
       function gtag() { dataLayer.push(arguments); }
       gtag('js', new Date());

       gtag('config', 'UA-102775017-1');
   </script>

<link rel="icon" type="image/png" href="https://certifyme.online/img/logo.png" />
   

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=yes' />

<meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
<meta property="og:type" content="article">

<meta name="description" content="{{page.title}}">
<meta property="og:description"   content="{{page.abstract}}">
<meta property="og:site_name" content="CertifyMe">
<meta property="og:url" content="https://certifyme.online//{{page.url}}">
<meta property="og:locale" content="en_US">


<meta name="author" content="{{page.author}}">
<meta property="og:image:height" content="282">
<meta property="og:image:width" content="500">

<meta property="article:published_time" content="{{page.date | date_to_xmlschema}}" />
<meta property="article:modified_time" content="{{page.date | date_to_xmlschema}}">
<meta property="og:image" content="https://certifyme.online/{{page.imageLink}}">

<meta property="article:section" content="Digital Badges , Digital Certificates and Digital Credentials">
    <meta property="article:tag" content="Digital Badges">
    <meta property="article:tag" content="Certificates">
    <meta property="article:tag" content="Credentials">
    <meta property="article:tag" content="Verifiable">
    <meta property="article:tag" content="Digital">
    <meta property="article:tag" content="Training">
    <meta property="article:tag" content="technology">
    <meta property="article:tag" content="Education">

    <meta property="article:tag" content="EdTech">



<meta name="twitter:card" content="summary">

<meta property="og:site_name" content="certifyMe.online">
<meta property="og:title" content="{{page.title}}">


<title>{{page.title}}</title>

  

    

   
    
    
    <!--====== Title ======-->
    


        
    <!--====== Animate CSS ======
    <link rel="stylesheet" href="assets/css/animate.css">-->
        
    <!--====== Magnific Popup CSS ======
    <link rel="stylesheet" href="assets/css/magnific-popup.css">-->
        
    <!--====== Slick CSS ======
    <link rel="stylesheet" href="assets/css/slick.css">-->
        
    <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="/assets/css/LineIcons.css">
        
    <!--====== Font Awesome CSS ======-->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
        
    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    
    <!--====== Default CSS ======-->
    <link rel="stylesheet" href="/assets/css/default.css">
    
    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="/assets/css/style.css">

     <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5fd1d6bbd84bbd0018fc3514&product=sop' async='async'></script>
   
</head>
