   <!--====== ABOUT PART START ======-->
    
   <section id="about" class="about-area pt-70">
    <div class="container" >
        <div class="row">
            <div class="col-lg-4">
                <div class="about-content mt-50 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="section-title">
                        <div class="line"></div>
                        <h3 class="title">Automate your credential process</h3>
                       
                    </div> <!-- section title -->
                    <p class="text" > Reduce effort spend in issuing and maintaining credentials. We also provide API access and are "Zapier" & "Integrately" enabled.</p>
                    <a target="_blank" href="https://credential.certifyme.online/auth/register" class="main-btn">Sign up for free </a>
                </div> <!-- about content --> 
            </div>	
            <div class="col-lg-8">
                <div class="about-image text-center mt-50 wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="0.5s">
                   
                    
                       <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/630093796?h=751b944d9b&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="CertifyMe Features"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                      <!--  <iframe width="560" height="315" src="https://www.youtube.com/embed/Je0_a_kLH-c?controls=0" title="Certify Explainer Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                       <!-- <img class="small" src="assets/images/cert.png" alt="SAAS Digital Credentials" style="width: 95%;">-->
    
    
     <!-- header hero image -->
                    <!-- <img class= "small" src="/assets/images/laptop.png" alt="about">-->
                </div> <!-- about image -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div class="about-shape-1">
        <img src="/assets/images/about-shape-1.svg" alt="Automate your credential process">
    </div>
</section>

<!--====== ABOUT PART ENDS ======-->

<!--====== ABOUT PART START ======-->

<section class="about-area pt-70">
    <div class="about-shape-2">
        <img src="/assets/images/about-shape-2.svg" alt="shape">
    </div>
    <div class="container" >
        <div class="row">
            <div class="col-lg-4 order-lg-last">
                <div class="about-content mt-50 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="section-title">
                        <div class="line"></div>
                        <h3 class="title"> Seamless Verifiability </h3>
                    </div> <!-- section title -->
                    <p class="text">Each of our credentials is enabled with a unique QR Code, credentials can further be linked with the awardee's unique identities like a Passport number, DL, etc.  </p>
                    
                    <div class="col-xs-6 col-lg-6"><a href="https://share.hsforms.com/1-uuvSk4QQZSKacXGM-jP2w5gjjo" target="_blank" class="main-btn"
                        style=" background-color: rgb(230, 112, 112); color:ivory">Request a Demo</a></div>
                </div> <!-- about content -->
            </div>
            <div class="col-lg-8 order-lg-first">
                <div class="about-image text-center mt-50 wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img   src="/assets/images/f_13.png" alt="Seamless Verifiability">
                </div> <!-- about image -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>


<!--====== ABOUT PART START ======-->

<section class="about-area pt-70">
    <div class="container" >
        <div class="row">
            <div class="col-lg-4">
                <div class="about-content mt-50 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="section-title">
                        <div class="line"></div>
                        <h3 class="title">  Maximize Brand Presence  </h3>
                    </div> <!-- section title -->
                    <p class="text"> CertifyMe helps your awardee publish your credentials across 50+ social media platforms. Our certificates are also customizable to include a branding banner and a CTA button. </p>
                    <a target="_blank" href="https://credential.certifyme.online/auth/register" class="main-btn">Get 50 Credentials for Free </a>
                </div> <!-- about content -->
            </div>
            <div class="col-lg-8">
                <div class="about-image text-center mt-50 wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img   src="/assets/images/f_10.png" alt="Maximize Brand Presence">
                </div> <!-- about image -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div class="about-shape-1">
        <img src="/assets/images/about-shape-1.svg" alt="Maximize Brand Presence">
    </div>
</section>



<!--====== ABOUT PART ENDS ======-->
<!--====== ABOUT PART START ======-->

<section class="about-area pt-70">
    <div class="about-shape-2">
        <img src="/assets/images/about-shape-2.svg" alt="shape">
    </div>
    <div class="container" >
        <div class="row">
            <div class="col-lg-4 order-lg-last">
                <div class="about-content mt-50 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="section-title">
                        <div class="line"></div>
                        <h3 class="title"> Domain + Email whitelabeling and customization as per your needs</h3>
                    </div> <!-- section title -->
                    <p class="text">Stand out, customize your credential web pages to suit your demands. Our platform helps you white-label your credentials and enables you to customize credential page based on your branding needs.</p>
                    
                    <div class="col-xs-6 col-lg-6"><a href="https://share.hsforms.com/1-uuvSk4QQZSKacXGM-jP2w5gjjo" target="_blank" class="main-btn"
                        style=" background-color: rgb(230, 112, 112); color:ivory">Request a Demo</a></div>
                </div> <!-- about content -->
            </div>
            <div class="col-lg-8 order-lg-first">
                <div class="about-image text-center mt-50 wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img   src="/assets/images/f_18.png" alt="customize your credential web pages ">
                </div> <!-- about image -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== ABOUT PART START ======-->

<section class="about-area pt-70">
    <div class="container" >
        <div class="row">
            <div class="col-lg-3">
                <div class="about-content mt-50 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="section-title">
                        <div class="line"></div>
                        <h3 class="title"> LinkedIn Integration </h3>
                    </div> <!-- section title -->
                    
                    <a target="_blank" href="https://credential.certifyme.online/auth/register" class="main-btn">Award Now </a>
                </div> <!-- about content -->
            </div>
            <div class="col-lg-9">
                <div class="about-image text-center mt-50 wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img  src="/assets/images/f_14.png" alt="LinkedIn Integration">
                </div> <!-- about image -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div class="about-shape-1">
        <img src="/assets/images/about-shape-1.svg" alt="LinkedIn Integration">
    </div>
</section>

<!--====== ABOUT PART START ======-->

<section class="about-area pt-70">
    <div class="about-shape-2">
        <img src="/assets/images/about-shape-2.svg" alt="shape">
    </div>
    <div class="container" >
        <div class="row">
            <div class="col-lg-4 order-lg-last">
                <div class="about-content mt-50 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="section-title">
                        <div class="line"></div>
                        <h3 class="title"> No Code Integration with Zapier and Rest API.</h3>
                    </div> <!-- section title -->
                    <p class="text">Integrate your LMS with our Zapier integration or use our REST API to directly connect with your application. It just takes 5 min to get started. </p>
                    
                    <div class="col-xs-6 col-lg-6"><a href="https://share.hsforms.com/1-uuvSk4QQZSKacXGM-jP2w5gjjo" target="_blank" class="main-btn"
                        style=" background-color: rgb(230, 112, 112); color:ivory">Request a Demo</a></div>
                </div> <!-- about content -->
            </div>
            <div class="col-lg-8 order-lg-first">
                <div class="about-image text-center mt-50 wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img   src="/img/21.png" alt="Credential REST API ">
                </div> <!-- about image -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== ABOUT PART START ======-->



