<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102775017-1"></script>
   <script>
       window.dataLayer = window.dataLayer || [];
       function gtag() { dataLayer.push(arguments); }
       gtag('js', new Date());

       gtag('config', 'UA-102775017-1');
   </script>

    <link rel="icon" type="image/png" href="https://certifyme.online/img/logo.png" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{page.description}}">
   <link rel="canonical" href="https://certifyme.online{{page.url}}">

    <meta name="author" content="certifyMe.online">
    <meta name="robots" content="index, follow">
    <meta property="og:image" content="https://certifyme.online/img/preview1.png">
    <meta property="og:title" content="{{page.title}}">

    <meta property="og:description" content="{{page.description}}">
    <meta property="og:url" content="https://certifyme.online">
    <meta name="twitter:card" content="summary">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="certifyMe.online">


    <title>{{page.title}}</title>  

  

    

   
    
    
    <!--====== Title ======-->
    
    
   
    <meta name="viewport" content="width=device-width, initial-scale=1">


        
    <!--====== Animate CSS ======
    <link rel="stylesheet" href="assets/css/animate.css">-->
        
    <!--====== Magnific Popup CSS ======
    <link rel="stylesheet" href="assets/css/magnific-popup.css">-->
        
    <!--====== Slick CSS ======
    <link rel="stylesheet" href="assets/css/slick.css">-->
        
    <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="/assets/css/LineIcons.css">
        
    <!--====== Font Awesome CSS ======-->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
        
    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    
    <!--====== Default CSS ======-->
    <link rel="stylesheet" href="/assets/css/default.css">
    
    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="/assets/css/style.css">

     <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5fd1d6bbd84bbd0018fc3514&product=sop' async='async'></script>
    
</head>
