<section id="features" class="services-area pt-120">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title text-center pb-40">
                    <div class="line m-auto"></div>
                    <h3 class="title">Solutions</h3>,
                </div> <!-- section title -->
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="about-image text-center mt-50 wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="0.5s">
                        <img class= "small" src="/assets/images/5.png" alt="about">
                    </div> <!-- about image -->
                    
                    <div class="services-content mt-30">
                        
                        <h4 class="services-title"><a href="#"> Award your credentials using our platform</a></h4>
                       
                        <p class="text">Get started in 3 simple steps. (1) Sign up. (2) Create your Credential template.
                            (3) Start awarding. Our application automates the mundane task of Credential authoring,
                            generation, and publication. Each credential is hosted on unique Webpage. The generated
                            Credential Webpages are mobile/social media-friendly and sharable across 50+ social media
                            platforms.</p>
                            <h5 class="services-title" style ="margin :10px">Starting  $0 / credential</h5>
                        <a target="_blank" href="https://my.certifyme.online/auth/register"
                            class="btn btn-primary ">Sign Up</a>

                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="about-image text-center mt-50 wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="0.5s">
                        <img class= "small" src="/assets/images/6.png" alt="about">
                    </div> <!-- about image -->
                    <div class="services-content mt-30">
                        <h4 class="services-title"><a href="#"> Deploy your own Digital Credential
                                Platform</a></h4>
                        <p class="text">Stand out, deploy your own Digital Credential Platform using our Framework. Your
                            credential systems would run on dedicated servers ensuring a high level of security &
                            customisability. You can also award unlimited amount of credentials. Just sit back and relax
                            while our tech team does all the heavy lifting to ensure your Credential Platform is
                            performing at its best.</p>
                            <h5 class="services-title" style ="margin :10px">Starting  $50 / month</h5>
                        <a target="_blank" href="https://calendly.com/rtharayil/15min"
                            class="btn btn-primary ">Express Interest, Schedule a Call</a>

                    </div>
                </div> <!-- single services -->
            </div>
        </div>



    </div>
</section>