<script>

   function radioAnnually(value) {



     // document.getElementById("Starter").innerHTML = "<span>Free</span> ";
     // document.getElementById("StarterCount").innerHTML = "200 Credentials ";

      document.getElementById("Premium").innerHTML = "<span>$600</span> Rs 44400 /Year";
      document.getElementById("PremiumC").innerHTML = "3600 New White Label Credentials/Year <br> <span style='color: #B27409;' >50%↑ More </span>";

      document.getElementById("VIP").innerHTML = "<span>$1800</span> Rs 133200 /Year ";
      document.getElementById("VIPC").innerHTML = "10800 New White Label Credentials/Year<br> <span style='color: #B27409;' >50%↑ More </span>";


      document.getElementById("btn-Starter").href = "https://my.certifyme.online/auth/register/stater@certifyme.online";
      document.getElementById("btn-VIP").href = "https://buy.stripe.com/fZe16Gc5aamRd6EaEI";

      document.getElementById("btn-Premium").href = "https://buy.stripe.com/aEUcPofhm8eJ1nW6ov";



   }
   function radioMonthly(value) {


     // document.getElementById("Starter").innerHTML = "<span>Free</span> ";
      //document.getElementById("StarterCount").innerHTML = "200 Credentials";


      document.getElementById("Premium").innerHTML = "<span>$50</span> Rs 3700 /Month";
      document.getElementById("PremiumC").innerHTML = "2400 New White Label Credentials/Year";

      document.getElementById("VIP").innerHTML = "<span>$150</span> Rs 11100 /Month";
      document.getElementById("VIPC").innerHTML = "7200 New White Label Credentials/Year";


      document.getElementById("btn-Starter").href = "https://my.certifyme.online/auth/register/stater@certifyme.online";
      document.getElementById("btn-VIP").href = "https://buy.stripe.com/aEU7v47OU8eJfeM28a";



      document.getElementById("btn-Premium").href = "https://buy.stripe.com/3csbLk2uAamRd6EbIJ";




   }

</script>
<div class="container">
   <h1 class="section-heading">
      <span class="mustard-text">Choose</span><span class="white-text"> A Plan</span>
   </h1>

</div>
<div class="container">
   <div class="switch switch--horizontal"><input id="radio-Annually" type="radio" name="first-switch"
         onclick="radioAnnually(this.value)" /><label for="radio-Annually">Annually</label><input id="radio-Monthly"
         type="radio" checked="checked" onclick="radioMonthly(this.value)" name="first-switch" /><label
         for="radio-Monthly">Monthly</label><span class="toggle-outside"><span class="toggle-inside"></span></span>
   </div>
   <p class="white-text" style="text-align: center;">Get 50% more credentials with our Annual plans </p>


   <div >
      <div class="row">
         <!--
         <div class="col-lg-3">
            <div class="plans-card">
               <div class="plans-header">
                  <h3>Try</h3>

                  <h5 id="Starter"><span>Free</span>

                  </h5>
               </div>
               <ul class="plan-check">
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span style="color: #B27409;">ordinary credentials</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span id="StarterCount">200 Credentials</span>
                  </li>
               
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Analytics</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Bulk Upload</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Verifiable QR-code</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Canva Integration</span>
                  </li>

                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>1 Admin Account</span>
                  </li>

               


               </ul>
               <a id="btn-Starter" target="_blank"
                  href="https://my.certifyme.online/auth/register/stater@certifyme.online">
                  <button class="plan-btn">Start Awarding</button></a>
            </div>
         </div>
          -->
         
         <div class="col-lg-3">
            <div class="plans-card">
               <div class="plans-header">
                  <h3>Starter</h3>
                  
                  <h5 id="Starter1"><span>$25</span>
                     Rs 1850 /Per Month
                  </h5>
               </div>
               <ul class="plan-check">
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span id="StarterCount1">600 New Credentials/Year</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Analytics</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Bulk Upload</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Verifiable QR-code</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Canva Integration</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Unlimited Templates</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>1 Admin Account</span>
                  </li>
                 
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Smart ID Tagging</span>
                  </li>
               </ul>
               <a id="btn-Starter" target="_blank" href="https://my.certifyme.online/auth/register/stater@certifyme.online">
                  <button class="plan-btn">Start For Free</button></a>
            </div>
         </div>
         

        

         <div class="col-lg-3">
            <div class="plans-card">
               <div class="plans-header">
                  <h3>Premium <span style="color: white; font-size: small;"> White-Label</span></h3>
                  <h5 id="Premium"><span>$50</span>
                     Rs 3700 /Per Month</h5>
               </div>
               <ul class="plan-check">

                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span style="color: #B27409;">All Standard plan features </span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>White Label Custom Domain (CName) </span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Smart ID Tagging</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Logo on Navigation Bar</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Branding space with CTA</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>API/Integrations</span>
                  </li>







                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span id="PremiumC">2400 New White Label Credentials/Year</span>
                  </li>
               </ul>
               <a id="btn-Premium" target="_blank" href="https://buy.stripe.com/3csbLk2uAamRd6EbIJ">
                  <button class="plan-btn">Start Your 14 Days Free Trial</button></a>
            </div>
         </div>
         <div class="col-lg-3">
            <div class="plans-card">
               <div class="plans-header">
                  <h3>VIP <span style="color: white; font-size: small;"> White-Label plus </span></h3>
                  <h5 id="VIP"><span>$150</span>
                     Rs 11100 /Per Month
                  </h5>
               </div>
               <ul class="plan-check">

                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span style="color: #B27409;">All Premium plan features </span>

                  </li>

                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Email ID White-labeling</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Visual Email Editor</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Footer White-labeling</span>
                  </li>

                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Immutable Credentials</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Custom Wallet feature</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Cryptographic Signature</span>
                  </li>


                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span id="VIPC">7200 New White Label Credentials/Year</span>
                  </li>
               </ul>
               <a id="btn-VIP" target="_blank" href="https://buy.stripe.com/aEU7v47OU8eJfeM28a">
                  <button class="plan-btn">Start Your 14 Days Free Trial</button></a>
            </div>
         </div>

         <div class="col-lg-3">
            <div class="plans-card">
               <div class="plans-header">
                  <h3>Pay as you grow </h3>
                  <h5 id="VIP"><span>$0.25</span>
                     / Credential / Month
                  </h5>
               </div>
               <ul class="plan-check">

                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span style="color: #B27409;">All VIP plan features </span>

                  </li>

                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>per Credential/ Month pricing</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Pay as you go</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Highly Flexible plan</span>
                  </li>
                 

                 
                 


                  
               </ul>
               <a id="btn-Starter" target="_blank" href="https://my.certifyme.online/auth/register/VIPPayasYoGo@certifyme.online">
                  <button class="plan-btn">Start For Free</button></a>
            </div>
         </div>
          <!--
         <div class="col-lg-6">
            <div class="plans-card">
               <div class="plans-header">
                  <h3>Enterprise Plans</h3>
                  <h5><span>$???</span>
                     Tailored to Your Needs
                  </h5>
               </div>
               <ul class="plan-check">

                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span style="color: #B27409;">All VIP plan features</span>

                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Custom Workflows </span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Dedicated servers </span>

                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Custom SLA</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Block chain </span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Quantum Ledger</span>
                  </li>
                  <li>
                     <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.16666 6.83301L4.49999 10.1663L12.8333 1.83301" stroke="white" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                     <span>Custom requirements </span>
                  </li>




               </ul>

               <a target="_blank" href="https://share.hsforms.com/1-uuvSk4QQZSKacXGM-jP2w5gjjo">
                  <button class="plan-btn">Schedule A Demo</button></a>
            </div>
         </div>
         -->
      </div>


      <div class="row">
         <div class="col-lg-12">
            <h6 class="white-text" style="text-align: center;">Stand out, get your own White-label credentials in your own domain. </h6>
         </div>
         <div class="col-lg-6">
            <a target="_blank" href="https://share.hsforms.com/1hA3g_nt5REif16fqOE7lVA5gjjo">
               <button type="button" class="demo-btn wow fadeInUp">I need to talk to an Expert </button></a>
         </div>
         <div class="col-lg-6">
            <a target="_blank" href="https://share.hsforms.com/1Fdh1KZ9fRdWrKetxjcJQuA5gjjo">
               <button type="button" class="demo-btn wow fadeInUp">I need a Tailored Enterprise Plan </button></a>
         </div>
      </div>
      <!-- <div class="row" style="padding-bottom: 10px;" >

      
         {% include V2NewLook/allfeatures.html %}
     
   </div>-->
   </div>
</div>
