<!-- GLOBAL BRANDS--->
<div id="brands">
  <div class="container">
    <h1 class="wow fadeInUp"><span class="mustard-text">1000+ Global Brands</span><span class="black-text"> run on our
        SaaS-based <span class="mustard-text">Immutable Crypto</span> Credential Platform</span></h1>
  </div>
</div>
<div class="brand-images wow fadeInUp mobile-hide">
  <div class="row">
    
    <div class="col-lg-1 col-md-4 col-sm-4 col-xs-4">
      <img src="images/brand-logo/Ted.png" alt="Digital Certifications and Badges  Digital Clients TED" class="img-fluid">
    </div>
   
    <div class="col-lg-1 col-md-4 col-sm-4 col-xs-4">
      <img src="images/brand-logo/ieee 1.png" alt=" Certifications and Badges Clients IEEE" class="img-fluid">
    </div>
    <div class="col-lg-1 col-md-4 col-sm-4">
      <img src="images/brand-logo/hurun.png" alt="Digital Credentials and Badges Clients Hurun" class="img-fluid">
    </div>
    <div class="col-lg-1 col-md-4 col-sm-4">
      <img src="images/brand-logo/paytm.png"  alt="Digital Credentials and Badges Digital Clients paytm" class="img-fluid">
    </div>
    <div class="col-lg-1 col-md-4 col-sm-6">
      <img src="images/brand-logo/LEB.jpeg"  alt="Digital Credentials and Badges Clients LEB" class="img-fluid">
    </div>
    
    <div class="col-lg-1 col-md-4 col-sm-6">
      <img src="images/brand-logo/project-magt.png" alt="Digital Certifications and Digital Badges Clients PMI" class="img-fluid">
    </div>
    <div class="col-lg-1 col-md-4 col-sm-6">
      <img src="images\brand-logo\tie 1.png" alt=" Credentials and Badges Diplomae Clients TIE" class="img-fluid">
    </div>
    <div class="col-lg-1 col-md-4 col-sm-6">
      <img src="images/brand-logo/wa 1.png"  alt="Digital Certifications and Badges Client " class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6">
      <img src="images/brand-logo/ET.png"  alt="Digital Credentials and Badges Clients paytm" class="img-fluid">
    </div>
    <div class="col-lg-1 col-md-4 col-sm-6">
      <img src="images/brand-logo/dc.png"  alt="Digital Credentials and Badges Clients paytm" class="img-fluid">
    </div>
    <div class="col-lg-1 col-md-4 col-sm-6">
      <img src="images/brand-logo/IITG-logo.jpeg" alt=" Certifications and Diplomae Clients paytm" class="img-fluid">
    </div>
  </div>
</div>
<div class ="container mobile-hide ">
<p class="section-paragraph" style="text-align: center;">Our clientele includes educational institutions, training firms, L & D teams, event marketers, and HR departments. They use our platform to award verifiable and sharable digital Certificates and Badges to their learners and employees.
 
  </p></div>
</div>
<!-- GLOBAL BRANDS END-->
