<!-- FAQ SECTION----->
<div id="main" class="section-top-margin wow fadeInUp">
    <div class="container">
        <h1 class="section-heading">
            <span class="mustard-text">Frequently</span>
            <span class="black-text">Asked Questions</span>
        </h1>
        <div class="accordion" id="faq">
            {% for QA in site.data.QA %}
            <div class="card" data-toggle="collapse" data-target="#faq1" aria-expanded="false" aria-controls="faq1"
                id="faqhead1">
                <div class="card-header">
                    <h4 class="btn btn-header-link">
                        <span>{{QA.Q}}</span>
                        <span class="faq-arrow"><svg width="24" height="14" viewBox="0 0 24 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 2L12 12L22 2" stroke="#131313" stroke-width="3" stroke-miterlimit="10"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </span>
                    </h4>
                </div>
                <div id="faq1" class="collapse" aria-labelledby="faqhead1" data-parent="#faq">
                    <div class="card-body">
                        {{QA.A}}
                    </div>
                </div>
            </div>
            {% endfor %}
            

        </div>
    </div>
    
</div>