 <!--- VERIFICATION SECTION --->
 <div id="verify">
    <div class="container">
       <div class="row section-top-margin wow fadeInUp">
         <div class="col-lg-6 col-md-12 hide-lg-device">
            <img src="images\qr-code.png" alt= "Verifiability of Digital Credentials and Badges " class="img-fluid">
         </div>
          <div class="col-lg-6 col-md-12">
             <div class="m-tp-75">
                <h1 class="section-heading">
                   <span class="mustard-text">Seamless
                   </span>
                   <span class="black-text">Verifiability</span>
                </h1>
                <p class="section-paragraph">Each of our credentials is enabled with a unique QR Code,Our Immutable Cryptographic Credentials can further be linked with the awardee's unique identities like a Passport number, DL, etc.</p>
                <a   target="_blank" href="https://share.hsforms.com/1-uuvSk4QQZSKacXGM-jP2w5gjjo">
                <button class="verify-btn m-tp">Request A Demo</button></a>
             </div>
          </div>
          <div class="col-lg-6 col-md-12 hide-sm-device">
             <img src="images\qr-code.png"  alt ="Maximize Brand Presence of Digital Certifications and Digital Badges " class="img-fluid">
          </div>
       </div>
       <!------->
       <div class="row section-top-margin wow fadeInUp">
          <div class="col-lg-6 col-md-12">
             <img src="images\brand-presence.png" alt= "Verifiability of Digital Credentials and Badges " class="img-fluid">
          </div>
          <div class="col-lg-6 col-md-12">
             <div class="m-tp-75 pxl-35">
                <h1 class="section-heading">
                   <span class="mustard-text">Maximize
                   </span>
                   <span class="black-text">Brand Presence</span>
                </h1>
                <p class="section-paragraph">CertifyMe helps your awardee publish your credentials across 50+ social media platforms. Our certificates are also customizable to include a branding banner and a CTA button.</p>
                <a   target="_blank" href="https://credential.certifyme.online/auth/register">
                <button class="verify-btn m-tp">Get 50 Credentials For Free</button></a>
             </div>
          </div>
       </div>
       <!------->
       <div class="row section-top-margin wow fadeInUp">
         <div class="col-lg-6 col-md-12 hide-lg-device">
            <img src="images\web.png" class="img-fluid">
         </div>
          <div class="col-lg-6 col-md-12">
             <div>
                <h1 class="section-heading">
                   <span class="mustard-text">Whitelabeling
                   </span>
                   <span class="black-text">And Customization as per your needs</span>
                </h1>
                <p class="section-paragraph">Stand out, customize your credential web pages to suit your demands. Our platform helps you white-label your credentials and enables you to customize credential page based on your branding needs.</p>
                <a   target="_blank" href="https://share.hsforms.com/1-uuvSk4QQZSKacXGM-jP2w5gjjo">
                  <button class="verify-btn m-tp">Request A Demo</button></a>
             </div>
          </div>
          <div class="col-lg-6 col-md-12 hide-sm-device">
             <img src="images\web.png" alt =" Whitelabeling Digital Certifications and Digital Badges " class="img-fluid">
          </div>
       </div>
       <!------->
       <div class="row section-top-margin wow fadeInUp">
          <div class="col-lg-6">
             <img src="images\linkedin.png"  alt =" LinkedIn Integration for Credentials ,Digital Certifications and Digital Badges " class="img-fluid">
          </div>
          <div class="col-lg-6 col-md-12">
             <div class="m-tp-75 pxl-35">
                <h1 class="section-heading">
                   <span class="mustard-text">LinkedIn 
                   </span>
                   <span class="black-text">Integration</span>
                </h1>
                <p class="section-paragraph">Add Immutable digital credentials to LinkedIn. Awardees can display their verifiable certificates and badges with your logo on their LinkedIn profile.</p>
                <a   target="_blank" href="https://credential.certifyme.online/auth/register">
                <button class="verify-btn m-tp">Award Now</button></a>
             </div>
          </div>
       </div>
       <!------->
       <div class="row section-top-margin wow fadeInUp">
         <div class="col-lg-6 col-md-12 hide-lg-device">
            <img src="images\api.png" alt =" API ,LMS ,Zapier Integration for Credentials ,Digital Certifications and Digital Badges " class="img-fluid">
         </div>
          <div class="col-lg-6 col-md-12">
             <div class="m-tp-75">
                <h1 class="section-heading">
                   <span class="mustard-text">No Code Integration
                   </span>
                   <span class="black-text">with Zapier and Rest API</span>
                </h1>
                <p class="section-paragraph">Integrate your LMS with our Zapier integration or use our REST API to directly connect with your application. It just takes 5 min to get started.</p>
                <a   target="_blank" href="https://share.hsforms.com/1-uuvSk4QQZSKacXGM-jP2w5gjjo">
                  <button class="verify-btn m-tp">Request A Demo</button></a>
             </div>
          </div>
          <div class="col-lg-6 col-md-12 hide-sm-device">
             <img src="images\api.png"  alt =" API ,LMS ,Zapier Integration for Digital Credentials  " class="img-fluid">
          </div>
       </div>
    </div>
 </div>
 <!--- VERIFICATION SECTION END--->
