<div class="background-set">
  <!---- INTRO SECTION-->

  <div class="container " id="intro">
    <h1 class="wow fadeInUp" data-wow-delay="0.2s"><img
      src="images/verified.png" alt="The Best Crypto Certificate and Badge Platform" style="max-width: 50px;" /><span class="white-text"> Verifiable Crypto Certificate & Badges. </span><img src="images/certificate1.png"
        alt="The Best Certification and Badge Platform" style="max-width: 50px;" /></h1>
        <h4 class="wow fadeInUp">  CertifyMe enables Trainers and HR teams to award Cryptographically Verifiable Certificates & Badges with just a couple of clicks.</h4>
  
    <!---  <h6 class="wow fadeInUp" style="color:white; text-align: center ; margin-top: 5px;">CertifyMe helps trainers, teachers, event marketers, and HR professionals award verifiable digital Certificates and Badges with just a couple of clicks.</h6> --->
    <a target="_blank" href="https://share.hsforms.com/1-uuvSk4QQZSKacXGM-jP2w5gjjo">
      <button type="button" class="demo-btn wow fadeInUp">Request A Demo</button></a>
  </div>
  <!--- INTRO ENDS --->
  <!-- CERTIFICATE AREA -->
  <div class="certificate wow fadeInUp">
    <video style="max-width: 400px;
  height: auto; margin-bottom :20px" controls poster="/images/cme2.png"
      alt="The Most Trusted Credential Platform">
      <source src="https://certifyme.online/img/CmeVedioS.mp4" type="video/mp4"
        alt="The Most Trusted Credential Platform">
      <img src="images/videoplay.png" class="img-responsive" alt="video-button"
        alt="CertifyMe is ranked as a high performer in G2 Grid for Enterprise Digital Credential Management Software.">
    </video>



  </div>
  <!-- CERTIFICATE AREA END -->
</div>
<!-- BACKGROUND IMAGE END --->