
    <!--- NAVBAR START---->
    <nav class="navbar navbar-expand-lg navbar-light nav-white fixed-top wow fadeIn">
       <div class="nav-container">
          <a class="navbar-brand" href="#">
            <img style="max-width: 200px;"  src="/images/white-logo.png " alt = "CertifyMe is the best digital Digital Credential platform ">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse menu-links" id="navbarSupportedContent">
             <ul class="navbar-nav">
                <li class="nav-item active">
                   <a class="nav-link" href="https://certifyme.online/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="#about-us">About</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="https://certifyme.online/samples">Sample</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link"  target="_blank" href="https://certifyme.online/pricing">Plan & Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  target="_blank" href="https://credential.certifyme.online/auth/login">Login</a>
                 </li>
             </ul>
             
             <div class="nav-buttons hide-lg-device">
          
                <a   target="_blank" href="https://credential.certifyme.online/auth/register">
                <button type="button">Start Awarding</button></a>
             </div>
          </div>
          <div class="nav-buttons hide-sm-device">
  
             <a   target="_blank" href="https://credential.certifyme.online/auth/register">
             <button type="button">Claim your 200 free credentials  </button></a>
          </div>
       </div>
    </nav>

    <!---- NAVBAR ENDS--->
