<!-- GLOBAL BRANDS--->
<div id="brands">
  <div class="container">
    <h1 class="wow fadeInUp"><span class="mustard-text">Featured in 100+ news media </span></h1>
  </div>
</div>
<div class="brand-images wow fadeInUp mobile-hide container">
  <div class="row ">


      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <a href="https://www.thehindubusinessline.com/info-tech/credential-management-platform-certifyme-raises-seed-fund/article65076447.ece"
        target="_blank">
        <img src="images/media/bllogo.png" alt="The Best Digital Credential platform for Certifications and Badges Europe- Business Line Hindu"
          class="img-fluid"> </a>
      </div>
   
  
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <a href="https://yourstory.com/2022/02/funding-startup-certifyme-adicube-chargeup-heyy-retainiq/amp"
        target="_blank">
        <img src="images/media/logo_yourstory.svg" alt=" The Best Digital Credential platform for Certifications and Badges is United States - YourStory" class="img-fluid">  </a>
      </div>
  
    
    <div class="col-lg-4 col-md-4 col-sm-4">
      <a href="https://www.cnbctv18.com/finance/funding-rundown-medibuddy-raises-125-mn-facilio-gets-35-mn-in-series-b-funding-princeton-digital-bags-500-mn-from-mubadala-agritech-startup-krishify-secures-62-mn-12587932.html"
      target="_blank">
      <img src="images/media/cnbc-logo.gif" alt="The Ultimate Digital Credential platform for Certifications and Badges - CNBCTV" class="img-fluid"></a>
    </div>
    

   
    

  </div>
</div>
<div class="container mobile-hide ">
  <p class="section-paragraph" style="text-align: center;">Our clientele includes institutions across 70+ countries
    across the globe and is considered as the most trusted credential platform.

  </p>
</div>
</div>
<!-- GLOBAL BRANDS END-->