<!-- PROCESS SECTION-->
<div id="process" class="section-top-margin wow fadeInUp mobile-hide">
    <div class="container-fluid">
     <div class="row">
        <div class="col-lg-6 col-md-12 process-text">
           <h1 class="section-heading">
              <span class="mustard-text">Automate Your</span>
              <span class="white-text">Credential Process</span>
           </h1>
           <p class="section-paragraph">Reduce effort spend in issuing and maintaining credentials. We also provide API access and are "Zapier" & "Integrately" enabled.</p>
           <a   target="_blank" href="https://credential.certifyme.online/auth/register">
           <button class="process-btn m-tp">Sign Up and Start Awarding</button></a>
        </div>
        <div class="col-lg-6 col-md-12 video-area  ">
           <div class="play-button-wrapper story-video">
              <a href="/video.html" target="_blank" class="btn-play video  d-flex justify-content-center align-items-center" data-lity="">
               <img src="images\videoplay.png" class="img-responsive" alt="video-button" alt ="CertifyMe is ranked as a high performer in G2 Grid for Enterprise Digital Credential Management Software.">
              </a>
           </div>
        </div>
     </div>
   </div>
  </div>
  <!-- PROCESS SECTION END -->
