<section id="certificate" class="services-area pt-120">
    <div align="center">
        <marquee behavior="alternate" bgcolor="#bb3434" direction="left" height:="" loop="7" scrollamount="1"
            scrolldelay="2" width="100%">
            <a target="_blank" href="https://my.certifyme.online/auth/register/">
                <span style="font-size: medium;color:#FFFFFF">
                    Award Verifiable Credentials , SignUp to get Your First FREE 50 Credentials. </span></a>
        </marquee>
    </div>

    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title text-center pb-40">

                    <h1 class="title">{{page.title}}</h1>


                    <div class="line m-auto"></div>


                    <h2>{{page.subTitle}}</h2>
                    <h6 style="font-weight: 100;"><i>{{page.author}} : {{page.date}}</i></h6>



                    <h4 style="font-weight: 200; ">{{page.abstract}}</h4>


                    <div class="text-right">



                    </div>
                </div> <!-- section title -->
            </div>
        </div>

    </div>
   
    <div class=" text-center ">

        <div class="container">




            <div>
                <div class="row" style="margin: 5px; padding: 5px">
                    {% if article.imageLink != "nil" %}

                    <img src="{{article.imageLink}}" alt="{{article.title}}" style="max-width:200px;max-height:200px;">
                    {% endif %}
                    <div style="padding: 10px ; text-align: left; " class="blogc">
                        {{page.content}}
                    </div>


                </div>
            </div>






        </div> <!-- single services -->
    </div> <!-- single services -->




</section>