body {
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
	position: relative;
}

ul {
	padding-left: 0px;
	margin-bottom: 0;
}

ul li {
	list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-bottom: 0px;
}

button {
	border-radius: 10px;
	background: #B27409;
	color: #fff;
	transition: 0.6s all ease-in-out;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
}

button:hover {
	box-shadow: 0 10px 15px 0px rgb(178 116 9 / 50%);
}

.section-top-margin {
	margin-top: 200px;
}

.section-heading {
	font-weight: 800;
	font-size: 36px;
	line-height: 60px;
}

.section-heading-inner {
	font-weight: 700;
	font-size: 18px;
	line-height: 36px;
	margin-top: 25px;
	color: #131313;
}

.section-paragraph {
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: #A0A0A0;
	margin-top: 25px;
}

.white-text {
	color: #fff;
}

.mustard-text {
	color: #B27409;
}

.black-text {
	color: #131313;
}

@media only screen and (min-width: 1026px) {
.background-set {
	/*background-image: url(../../images/BG.png);*/
	background:black;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	position: relative;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	padding-top: 185px;
}
}
@media only screen and (max-width: 1026px) {
	.background-set {
		background: black;
		background-repeat: no-repeat;
		height: 100%;
		width: 100%;
		position: relative;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		padding-top: 185px;
	}
  }

  @media only screen and (min-width: 600px) {
	.desktop-hide{
		display: none;
		
	}
	}
	@media only screen and (max-width: 600px) {
		.mobile-hide {
			display: none;
		}
	  }

.m-tp {
	margin-top: 50px
}


/*====== NAVBAR =======*/

.navbar {
	background: transparent;
	padding: 0px 0px;
	border-bottom: solid 1px #3C3C3C;
}

.nav-white {
	background: #131313;
}

.nav-container {
	padding: 25px 190px;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.navbar-brand {
	margin-right: 0px;
	padding: 0px;
	margin-top: 7px;
}

.menu-links {
	justify-content: center;
}

.nav-buttons {
	display: flex;
}

.nav-buttons button {
	border: 1px solid #fff;
	border-radius: 10px;
	outline: none;
	background: transparent;
	color: #fff;
	width: 150px;
	height: 50px;
}

.nav-buttons button:first-child {
	margin-right: 25px;
}

.nav-buttons button:hover {
	border: 1px solid #fff;
	background: #fff;
	color: #131313;
	box-shadow: none;
}

.navbar-nav li a {
	color: #fff !important;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
}


/*.navbar-nav li a:hover{
  content: '';
  background: #B27409;
  position:absolute;
  height: 1px;
}*/

.nav-item {
	margin-left: 70px;
	position: relative;
}

.nav-item:first-child {
	margin-left: 0px;
}

.hide-sm-device {
	display: block;
}

.hide-lg-device {
	display: none;
}

.navbar-nav li a::after {
	content: '';
	position: absolute;
	bottom: -32px;
	width: 0;
	height: 3px;
	background-color: #B27409;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transition: 0.3s all ease-out;
	-moz-transition: 0.3s all ease-out;
	-ms-transition: 0.3s all ease-out;
	-o-transition: 0.3s all ease-out;
	transition: 0.3s all ease-out;
}

.navbar-nav li.active a:after {
	width: 100%;
	-webkit-transition: 0.3s all ease-out;
	-moz-transition: 0.3s all ease-out;
	-ms-transition: 0.3s all ease-out;
	-o-transition: 0.3s all ease-out;
	transition: 0.3s all ease-out;
}

.navbar-nav li a:hover:after {
	width: 100%;
	-webkit-transition: 0.3s all ease-out;
	-moz-transition: 0.3s all ease-out;
	-ms-transition: 0.3s all ease-out;
	-o-transition: 0.3s all ease-out;
	transition: 0.3s all ease-out;
}


/* ======= INTRO ===== */

#intro h1 {
	font-weight: Bold;
	font-size: 44px;
	line-height: 54px;
	text-align: center;
}

#intro h4 {
	font-weight: Bold;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #fff;
	margin-top: 25px;
}

#intro p {
	font-weight: 500;
	color: #fff;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	margin-top: 25px;
	width: 950px;
}

.demo-btn {
	padding: 22px 50px;
	margin: 25px auto;
	text-align: center;
	display: block;
	border: none;
}


/* ======= CERTIFICATE ===== */

.certificate {
	display: flex;
	justify-content: center;
	position: relative;
}

.chatbot-img {
	position: fixed;
	right: 0px;
	bottom: 0px;
	cursor: pointer;
	z-index: 9999;
}


/* ======= BRANDS ===== */

#brands h1 {
	font-weight: 700;
	font-size: 44px;
	line-height: 75px;
	text-align: center;
}

.brand-images {
	padding: 0px 50px;
	margin-top: 50px;
}


/* ======= CUSTOMER REVIEWS ===== */

.review-btn {
	border: none;
	padding: 25px;
}

.review-btn svg {
	margin-right: 15px;
}


/* ======= PROCESS  ===== */

.process-text {
	/*background-image: url(../../images/process-bg.png);*/
	background-color: black;
	background-position: left;
	padding: 325px 50px 325px 385px;
}

.process-btn {
	padding: 25px 50px;
	border: none;
}

.video-area {
	/*background-image: url(../../images/video-thumbnail.png);*/
	background-color: white;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: inset 0 0 0 2000px rgba(19, 19, 19, 0.5);
}

.play-button-wrapper {
	position: absolute;
	width: 100%;
	top: 45%;
	transform: perspective(1px) translateY(-45%);
	z-index: 4;
	width: 100%;
	right: 0px;
}

.story-video {
	height: 100%;
}

.play-button-wrapper .btn-play {
	background: transparent;
	box-shadow: none;
	border: none;
	border-radius: 50%;
	height: 200px;
	width: 200px;
	-webkit-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	text-align: center;
	margin: auto;
	left: 20%;
	right: 190px;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 5;
}

.btn-play:before {
	background: transparent;
	box-shadow: none;
	border: none;
	border-radius: 50%;
	height: 162px;
	width: 162px;
	-webkit-transition: all 0.12s ease-in-out;
	-o-transition: all 0.12s ease-in-out;
	transition: all 0.12s ease-in-out;
	text-align: center;
	margin: auto;
	left: 18px;
	right: 190px;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: -1;
	content: '';
}

.btn-play:after {
	background: transparent;
	box-shadow: none;
	border: none;
	border-radius: 50%;
	height: 200px;
	width: 200px;
	-webkit-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	text-align: center;
	margin: auto;
	left: -2px;
	right: 190px;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: -1;
	content: '';
}


/*.btn-play:hover {
    background: rgba(255, 255, 255, 0.2);
}*/

.btn-play:hover:before {
	background: rgba(255, 255, 255, 0.2);
}

.btn-play:hover:after {
	background: rgba(255, 255, 255, 0.2);
}


/* ======= ABOUT US====== */

.about-us-left-list {
	border: 1px solid #D3D3D3;
}

.about-us-left-list li {
	border-bottom: 1px solid #D3D3D3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px;
}

.about-us-left-list svg {
	margin-right: 25px;
}

.about-us-left-list li:last-child {
	border-bottom: none;
}

.about-us-right-text {
	font-weight: bold;
	font-size: 36px;
	line-height: 60px;
}

.about-us-label-text {
	font-weight: bold;
	font-size: 24px;
	line-height: 60px;
}


/*======= ADVANTAGE CARD =======*/

#advantage {
	text-align: center;
}

.advantage-card {
	background: #FFF9EF;
	border: 1px solid #EDDCBD;
	color: #131313;
	padding: 35px 25px;
	border-radius: 15px;
	margin-top: 50px;
	cursor: pointer;
	height: 575px;
	transition: 0.6s all ease-in-out;
}

.advantage-card:hover {
	background: #FFF;
	box-shadow: 0px 0px 32px rgba(178, 116, 9, 0.15);
}

.advantage-card:hover h3 {
	color: #B27409;
}

.icon-wrapper {
	background: #FFF;
	border-top: 2px solid #B27409;
	box-shadow: 0px 10px rgba(178, 116, 9, 5%);
	border-bottom: 2px solid transparent;
	height: 125px;
	width: 125px;
	border-radius: 50%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.advantage-card h3 {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	margin-top: 35px;
	transition: 0.6s all ease-in-out;
}

.advantage-card p {
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	margin-top: 20px;
}


/* ========= VERIFICATION ========== */

.verify-btn {
	border: none;
	padding: 25px 50px;
}

.m-tp-75 {
	margin-top: 75px;
}

.pxl-35 {
	padding-left: 35px;
}


/* ========= PLANS ========== */

#plans {
	background-image: url(../../images/plans-bg.png);
	background-repeat: repeat-x;
	padding: 105px 0px;
}

.plans-card-wrapper {
	margin-top: 50px;
}

.plans-card {
	background: #1D1D1D;
	border: 1px solid #474747;
	border-radius: 15px;
	cursor: pointer;
}

.plans-card:hover .plans-header,
.plans-card:hover .plan-btn {
	background: #B27409;
	color: #fff;
	box-shadow: none;
}

.plans-card:hover .plans-header h3 {
	color: #fff;
}

#plans h1 {
	text-align: center;
}

#plans h4 {
	color: #A0A0A0;
	font-size: 16px;
	text-align: center;
}

.plans-header {
	background: #131313;
	border-radius: 10px 10px 0px 0px;
	transition: 06s all ease-in-out;
	padding: 10px;
	margin: 5px;
	transition: 0.6s all ease-in-out;
}

.plans-header h3 {
	color: #B27409;
	font-weight: 700;
	font-size: 24px;
	line-height: 40px;
	transition: 0.6s all ease-in-out;
}

.plans-header h5 span {
	font-weight: 700 !important;
	font-size: 24px !important;
}

.plans-header h5 {
	font-weight: 400;
	font-size: 14px;
	line-height: 40px;
	color: #fff;
}

.plan-check {
	color: #fff;
	padding: 15px;
	height: 370px;
	transition: 0.6s all ease-in-out;
	cursor: pointer;
}

.plan-check-paragraph {
	font-size: 12px;
	line-height: 28px;
	color: #FFFFFF;
	padding: 15px;
	height: 370px;
}

.plan-check svg {
	margin-right: 10px;
}

.plan-check li {
	line-height: 24px;
	margin-top: 15px;
	font-size: 14px;
}

.plan-check li:first-child {
	margin-top: 0px;
}

.plan-btn {
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	background: #fff;
	text-align: center;
	color: #131313;
	border: none;
	display: block;
	width: 235px;
	height: 50px;
	margin: 10px;
}


/* ========= FAQ ========== */

#faq h1 {
	text-align: center;
}

.accordion {
	margin-top: 50px;
}

.accordion>.card>.card-header {
	margin-bottom: 0px;
}

.faq-arrow {
	float: right;
}

.faq-question {
	color: #131313;
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
}

#main h1 {
	text-align: center;
}

#main #faq .card {
	margin-bottom: 30px;
	border: 0;
}

.card-header {
	background: transparent;
}

.card[aria-expanded="true"] {
	background: #fff!important;
	border: 1px solid transparent!important;
	box-shadow: 0px 0px 32px rgba(178, 116, 9, 0.15);
}

.card[aria-expanded="true"] .faq-arrow {
	transform: rotate(180deg);
}

.faq-arrow {
	transition: all .6s ease-in-out;
}

#main #faq .card {
	background: #FFF9EF;
	border: 1px solid #EDDCBD;
	border-radius: 15px;
}

#main #faq .card .card-header {
	border: 0;
	/*-webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
          box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);*/
	padding: 0;
}

#main #faq .card .card-header .btn-header-link {
	color: #fff;
	display: block;
	text-align: left;
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	color: #131313;
	padding: 20px;
}

.btn.focus,
.btn:focus {
	outline: none;
	box-shadow: none;
}

#main #faq .card .card-header .btn-header-link.collapsed {
	background: #FFF9EF;
	box-sizing: border-box;
	border-radius: 15px;
	color: #131313;
}

#main #faq .card .collapsing {
	background: #FFF;
	line-height: 30px;
}

#main #faq .card .collapse {
	border: 0;
}

#main #faq .card .collapse.show {
	background: #FFF;
	line-height: 30px;
}

#main .card-body {
	font-size: 16px;
	line-height: 30px;
	color: #A0A0A0;
}


/* ========= FOOTER ========== */

footer {
	/*background-image: url(../../images/plans-bg.png);*/
	background-color: black;
	background-repeat: no-repeat;
	padding: 100px 0px;
	color: #fff;
}

footer ul li {
	line-height: 48px;
	font-size: 14px;
}

footer h3 {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
}

footer p {
	margin-top: 25px;
	font-size: 14px;
	line-height: 30px;
}

.f-logo-bg {
	background: #FFFFFF;
	border-radius: 15px;
	padding: 25px;
	margin-top: 10px;
}

.footer-links li a {
	cursor: pointer;
	color: #fff;
}

.less-line-ht {
	line-height: 30px;
}

.pxl-80 {
	padding-left: 80px;
}

.pxl-50 {
	padding-left: 50px;
}

.footer-btm {
	background: #0C0C0C;
}

.footer-wrap {
	display: flex;
	justify-content: space-between;
	padding: 15px 0;
}

.footer-wrap span {
	color: #fff;
	font-weight: normal;
	font-size: 14px;
	line-height: 30px;
}

.social-icons {
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.social-icons svg {
	margin-top: 5px;
}

.social-icons li {
	background: #2C2C2C;
	border-radius: 5px;
	height: 32px;
	width: 32px;
	margin-left: 15px;
	cursor: pointer;
	transition: 0.6s all ease-in-out;
	cursor: pointer;
}

.social-icons li:hover {
	background: #B27409;
}

.ft-btn {
	font-weight: 500;
	font-size: 10px;
	line-height: 20px;
	text-align: center;
	text-transform: capitalize;
	color: #FFFFFF;
	width: 265px;
	height: 50px;
	border: none;
	margin-top: 35px;
}



.switch {
	margin: 4rem auto;
  }
  /* main styles */
  .switch {
	width: 24rem;
	position: relative;
  }
  .switch input {
	position: absolute;
	top: 0;
	z-index: 2;
	opacity: 0;
	cursor: pointer;
  }
  .switch input:checked {
	z-index: 1;
  }
  .switch input:checked + label {
	opacity: 1;
	cursor: default;
  }
  .switch input:not(:checked) + label:hover {
	opacity: 0.5;
  }
  .switch label {
	color: #fff;
	opacity: 0.33;
	transition: opacity 0.25s ease;
	cursor: pointer;
  }
  .switch .toggle-outside {
	height: 100%;
	border-radius: 2rem;
	padding: 0.25rem;
	overflow: hidden;
	transition: 0.25s ease all;
  }
  .switch .toggle-inside {
	border-radius: 5rem;
	background: #4a4a4a;
	position: absolute;
	transition: 0.25s ease all;
  }
  .switch--horizontal {
	width: 18rem;
	height: 3rem;
	margin: 0 auto;
	font-size: 0;
	margin-bottom: 1rem;
  }
  .switch--horizontal input {
	height: 3rem;
	width: 6rem;
	left: 6rem;
	margin: 0;
  }
  .switch--horizontal label {
	font-size: 1rem;
	font-weight: 500;
	line-height: 3rem;
	display: inline-block;
	width: 6rem;
	height: 100%;
	margin: 0;
	text-align: center;
  }
  .switch--horizontal label:last-of-type {
	margin-left: 6rem;
  }
  .switch--horizontal .toggle-outside {
	background: #fff;
	position: absolute;
	width: 6rem;
	left: 6rem;
  }
  .switch--horizontal .toggle-inside {
	height: 2.5rem;
	width: 2.5rem;
  }
  .switch--horizontal input:checked ~ .toggle-outside .toggle-inside {
	left: 0.25rem;
  }
  .switch--horizontal input ~ input:checked ~ .toggle-outside .toggle-inside {
	left: 3.25rem;
  }
  .switch--vertical {
	width: 12rem;
	height: 6rem;
  }
  .switch--vertical input {
	height: 100%;
	width: 3rem;
	right: 0;
	margin: 0;
  }
  .switch--vertical label {
	font-size: 1rem;
	line-height: 3rem;
	display: block;
	width: 8rem;
	height: 50%;
	margin: 0;
	text-align: center;
  }
  .switch--vertical .toggle-outside {
	background: #fff;
	position: absolute;
	width: 3rem;
	height: 100%;
	right: 0;
	top: 0;
  }
  .switch--vertical .toggle-inside {
	height: 2.5rem;
	left: 0.25rem;
	top: 0.25rem;
	width: 2.5rem;
  }
  .switch--vertical input:checked ~ .toggle-outside .toggle-inside {
	top: 0.25rem;
  }
  .switch--vertical input ~ input:checked ~ .toggle-outside .toggle-inside {
	top: 3.25rem;
  }
  .switch--no-label label {
	width: 0;
	height: 0;
	visibility: hidden;
	overflow: hidden;
  }
  .switch--no-label input:checked ~ .toggle-outside .toggle-inside {
	background: rgba(0,0,0,0.2);
	border: 1px solid rgba(0,0,0,0.2);
  }
  .switch--no-label input ~ input:checked ~ .toggle-outside {
	background: #fff;
  }
  .switch--no-label input ~ input:checked ~ .toggle-outside .toggle-inside {
	background: #2ecc71;
  }
  .switch--no-label.switch--vertical {
	width: 3rem;
  }
  .switch--no-label.switch--horizontal {
	width: 6rem;
  }
  .switch--no-label.switch--horizontal input,
  .switch--no-label.switch--horizontal .toggle-outside {
	left: 0;
  }
  .switch--expanding-inner input:checked + label:hover ~ .toggle-outside .toggle-inside {
	height: 2.5rem;
	width: 2.5rem;
  }
  .switch--expanding-inner.switch--horizontal input:hover ~ .toggle-outside .toggle-inside {
	width: 3.5rem;
  }
  .switch--expanding-inner.switch--horizontal input:hover ~ input:checked ~ .toggle-outside .toggle-inside {
	left: 2.25rem;
  }
  .switch--expanding-inner.switch--vertical input:hover ~ .toggle-outside .toggle-inside {
	height: 3.5rem;
  }
  .switch--expanding-inner.switch--vertical input:hover ~ input:checked ~ .toggle-outside .toggle-inside {
	top: 2.25rem;
  }
  /* mixin */
  