<section id="features" class="services-area pt-120">
    
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section-title text-center pb-40">
                   
                    <h3 class="title">{{page.category}}</h3>,
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row justify-content-center">
            <div class="col-lg-2 col-md-7 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="services-icon">
                        <img class="shape" src="/assets/images/services-shape.svg" alt="shape">
                        <img class="shape-1" src="/assets/images/services-shape-1.svg" alt="shape">
                        <i class="lni-diamond"></i>
                    </div>
                    <div class="services-content mt-30">
                        <h6 class="services-title"><a href="#"> {{page.category1H}}</a></h6>
                       
                        
                    </div>
                </div> <!-- single services -->
                
            </div>
            <div class="col-lg-2 col-md-7 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="services-icon">
                        <img class="shape" src="/assets/images/services-shape.svg" alt="shape">
                        <img class="shape-1" src="/assets/images/services-shape-1.svg" alt="shape">
                        <i class="lni-diamond"></i>
                    </div>
                    <div class="services-content mt-30">
                        <h6 class="services-title"><a href="#"> {{page.category2H}}</a></h6>
                       
                        
                    </div>
                </div> <!-- single services -->
                
            </div>
            <div class="col-lg-3 col-md-7 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="services-icon">
                        <img class="shape" src="/assets/images/services-shape.svg" alt="shape">
                        <img class="shape-1" src="/assets/images/services-shape-1.svg" alt="shape">
                        <i class="lni-diamond"></i>
                    </div>
                    <div class="services-content mt-30">
                        <h6 class="services-title"><a href="#"> {{page.category3H}}</a></h6>
                       
                        
                    </div>
                </div> <!-- single services -->
                
            </div>
            <div class="col-lg-2 col-md-7 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="services-icon">
                        <img class="shape" src="/assets/images/services-shape.svg" alt="shape">
                        <img class="shape-1" src="/assets/images/services-shape-1.svg" alt="shape">
                        <i class="lni-diamond"></i>
                    </div>
                    <div class="services-content mt-30">
                        <h6 class="services-title"><a href="#"> {{page.category4H}}</a></h6>
                       
                        
                    </div>
                </div> <!-- single services -->
                
            </div>
            <div class="col-lg-2 col-md-7 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="services-icon">
                        <img class="shape" src="/assets/images/services-shape.svg" alt="shape">
                        <img class="shape-1" src="/assets/images/services-shape-1.svg" alt="shape">
                        <i class="lni-diamond"></i>
                    </div>
                    <div class="services-content mt-30">
                        <h6 class="services-title"><a href="#"> {{page.category5H}}</a></h6>
                       
                        
                    </div>
                </div> <!-- single services -->
                
            </div>
            
            
            
        </div> <!-- row -->
    
</section>

<!--====== SERVICES PART ENDS ======-->