<div class="brand-area pt-90">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title text-center pb-40">
                    <div class="line m-auto"></div>
                    <h3 class="title"> <span>We enable conference and training producers to</span> automate <span>their credential issuing process and </span> maximize brand presence.</h3>,
                </div> <!-- section title -->
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                <div class="brand-logo d-flex align-items-center justify-content-center justify-content-md-between">
                    <div class="single-logo mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                        <img src="img/portfolio/clients/2.svg" alt="brand">
                    </div> <!-- single logo -->
                    <div class="single-logo mt-30 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.2s">
                        <img src="img/portfolio/clients/3.svg" alt="brand">
                    </div> <!-- single logo -->
                    <div class="single-logo mt-30 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.3s">
                        <img src="img/portfolio/clients/1.svg" alt="brand">
                    </div> <!-- single logo -->
                    <div class="single-logo mt-30 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.4s">
                        <img src="img/portfolio/clients/4.svg" alt="brand">
                    </div> <!-- single logo -->
                    <!-- single logo -->
                </div> <!-- brand logo -->
            </div>
        </div>   <!-- row -->
    </div> <!-- container -->
</div>